@model IEnumerable<mvc_app.RouteConfig>

@{
	ViewBag.Title = "Result";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Results for <a href="@ViewBag.repositoryUrl">@ViewBag.repositoryUrl</a></h2>

<p>
	<ul>
		<li>
			<label>Total amount of opn issues:&nbsp;</label>@ViewBag.issues_AllOpen
		</li>
		<li>
			<label>Total amount of issues Opened in the last 24 Hours:&nbsp;</label>@ViewBag.issues_OpeninLast24Hours
		</li>
		<li>
			<label>Total amount of issues Open for more than 7 Days:&nbsp;</label>@ViewBag.issues_OpenMoreThan7Days
		</li>
	</ul>
</p>

<p>


</p>